<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <p>
        <strong>Name:</strong>
        <%= @restaurant.name %>
        </p>
        
        <p>
        <strong>Address:</strong>
        <%= @restaurant.address %>
        </p>

        <strong>Phone number:</strong>
        <%= @restaurant.phone_number %>
        </p>

         <strong>Cuisine:</strong>
        <%= @restaurant.category %>
        </p>

        <h2>Reviews</h2>
            <%= render @restaurant.reviews %>
        
        <h2>Add a review:</h2>
            <%= render 'reviews/form' %>
        
        <%= link_to 'Back', restaurants_path, class: "btn btn-primary"%>
    </div>
  </div>
</div>